<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" 
                arguments=".\AppointmentManagementSystem.API.dll" 
                stdoutLogEnabled="false" 
                stdoutLogFile=".\logs\stdout" 
                hostingModel="inprocess" />
    
    <!-- HTTP Methods izinleri -->
    <security>
      <requestFiltering>
        <verbs>
          <add verb="POST" allowed="true" />
          <add verb="GET" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    
    <!-- CORS headers KALDIRILDI - ASP.NET Core middleware üzerinden yönetiliyor -->
    <!-- Program.cs'deki CORS policy kullanılıyor -->
  </system.webServer>
</configuration>
